*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.env
.idea
app
gradle
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle 
