<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ottershare.ottershare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/trans_otter_share_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/generalNoTitle" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/generalNoTitle" >
            </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/key_google_api" />

        <activity android:name=".ParkingActivity">
        </activity>

        <service
            android:name=".FusedGpsService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".UserProfile" />
        <activity android:name=".RateInteraction" />
        <activity android:name=".SellPassConfirm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WaitForSell" />
        <activity android:name=".PassView">
        </activity>
        <activity android:name=".WaitForBuyer" />
        <activity android:name=".CompleteTransactonSeller" />
        <activity android:name=".CompleteTransactionBuyer" />
        <activity android:name=".CompleteUserProfile"></activity>
    </application>

</manifest>